<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Price</th>
            <th>Units in Stocks</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let tempProduct of products">
            <td class="align-middle">
                <img src="{{tempProduct.imageUrl}}" height="50">
            </td>
            <td class="align-middle">{{tempProduct.name}}</td>
            <!-- <td class="align-middle">{{tempProduct.unitPrice | currency:'USD'}}</td> -->
            <td class="align-middle">{{tempProduct.unitsInStocks}}</td>
    
        </tr>
    </tbody>
    
</table>

